:root {
  --main-bg: #171717;
  --secondary: #595959;
  --nav-bg: #1f1f1f;
}

#root {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgb(7, 7, 7);
}

.btn__md {
  position: relative;
  padding: 1rem 1.8rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid #3f1f8b65;
  transition: all 0.1s ease-in-out;

  &:hover {
    transition: all 0.1s linear;
    background-color: #3f1f8b;
    border: 2px solid #3f1f8b;
  }
}

.btn__wp {
  outline: none;
  padding: 1.5rem;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  border: none;
  outline: none;
  background-color:  #3f1f8b;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;

  @media screen and (max-width: 1800px) {

  }

  @media screen and (max-width: 1440px) {
    padding: 1.3rem
  }

  @media screen and (max-width: 756px) {
    padding: 1rem
  }
}



.App {
  background: url(../assets/images/astronomybg.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  // background: linear-gradient(170deg, #030303,#070707);

  @media screen and (max-width: 565px) {
    background: #090b0b;
  }
}

// NAVBAR
#nav {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  height: 12%;
  width: 100%;
  transition: top 0.2s linear, background 0.2s ease-in-out;

  .desktopNav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;

    li {
      list-style: none;
      align-self: center;

      a {
        position: relative;
        text-decoration: none;
        color: white;
      }

      a#resumeBtn:hover {
        color: white;
      }

      @media screen and (min-width: 1300px) {
        a:not(#resumeBtn):hover {
          transition: all 0.1s linear;
          color: #a3a3a3;
        }

        a:not(#resumeBtn)::after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 1.5px;
          margin-top: 0;
          right: 0;
          background: #fff;
          transition: width 0.2s ease;
        }

        a:not(#resumeBtn):hover::after {
          width: 100%;
          left: 0;
        }
      }

      a:not(first-of-type) {
        margin-left: 3rem;
      }
    }

    li:first-of-type {
      margin-right: auto;
    }
  }
}

.mobileNav {
  display: none;
  position: relative;
}

@media screen and (max-width: 1350px) {
  #landingLocation,
  #nav,
  #navList {
    display: none;
  }

  .mobileNav {
    position: fixed;
    top: -0.1rem;
    width: 100%;
    height: 7rem;
    display: block;
    z-index: 5;
    background-color: rgb(8, 8, 8);

    #mobileLogo {
      display: block;
      position: fixed;
      top: 2rem;
      left: 10%;
      width: 10rem;
    }

    #hamburger {
      position: fixed;
      width: 32px;
      right: 10%;
      top: 2rem;
      cursor: pointer;

      span {
        background: white;
        position: relative;
        right: 0;
        top: 0;
        height: 2px;
        width: 100%;
        display: block;
      }

      span:not(:first-of-type) {
        margin: 1rem 0 0 0;
      }

    }
  }
}

@media screen and (max-width: 500px) {
  #navList {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 8rem;
    background: #1d1d1d;
    display: flex;
    z-index: 2;
    bottom: -0.1rem;
    border-top: 1px solid grey;

    .nListItem {
      list-style-type: none;
      height: 100%;
      width: 100%;
      margin: 0 0 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 3;
      background-color: black;

      a {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 0 1.2rem 0;
        color: white;
        text-decoration: none;
        z-index: 3;

        svg {
          position: relative;
          font-size: 2rem;
          z-index: 3;
          text-align: center;
          width: 100%;
        }
      }
    }

  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  background: #000000f3;
  z-index: 1;

  @media screen and (max-width: 565px) {
    display: none;
  }
}

// LANDING PAGE
#landingPage {
  display: flex;
  align-content: flex-start;
  padding: 32vh 0 0 0;
  flex-flow: row wrap;
  width: 40%;
  height: 100vh;
  margin: 0 10% 0 10%;


  #catchPhrase {
    color: #707070;
    flex: 0 0 100%;
    z-index: 2;
  }

  #landingContact {
    z-index: 2;

    &::before {
      content: '';
      position: relative;
      display: block;
      border-top: 4px solid white;
      top: -3.5rem;
      width: 160%;
    }
  }

  #landingHeader {
    flex: 0 0 100%;
    line-height: 90%;
    min-height: 25vh;
    z-index: 2;
    color: #ffffff;
    font-weight: 800;

    #cursor {
      border-right: 1rem solid #ADADAD;
      animation: cursorBlink 0.7s steps(1) infinite;
      display: inline-block;
      margin-left: 1.5rem;
      height: 6rem;
    }

    @keyframes cursorBlink {
      50% {
        border-color: transparent;
      }
    }
  }

  #landingSub {
    display: block;
    flex: 0 0 100%;
    margin: 0.5rem 0;
    z-index: 2;
  }

  #landingRight {
    width: 30%;
    margin-left: auto;
    z-index: 2;
  }

  #socials {
    position: fixed;
    width: 4rem;
    right: 4rem;
    bottom: 2rem;
    text-align: center;
    z-index: 99;
    z-index: 2;

    .landingIcon {
      cursor: pointer;
      margin-top: 1.2rem;
      transition: 0.1s ease-in-out;
      color: white;
    }

    .landingIcon:hover {
      color: #3f1f8b;
    }
  }

  #landingLocation {
    position: absolute;
    left: 10rem;
    bottom: 4rem;
    font-weight: 600;
    z-index: 2;
  }

  #landingLocation::before {
    content: "";
    display: block;
    width: 4rem;
    border-bottom: 0.3rem solid white;
    position: relative;
    left: -5rem;
    bottom: -1.1rem;
    z-index: 2;
  }

  #scrollButton {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    z-index: 2;

    p {
      padding-top: 6rem;
      cursor: default;
    }

    p div {
      position: absolute;
      top: 0;
      left: 50%;
      width: 3rem;
      height: 5rem;
      margin-left: -15px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50px;
      box-sizing: border-box;
    }

    p div::before {
      position: absolute;
      top: 1.2rem;
      left: 11px;
      content: "";
      width: 12px;
      height: 12px;
      margin-left: -3px;
      background-color: rgb(255, 255, 255);
      border-radius: 100%;
      box-sizing: border-box;
      transition: top 0.2s ease-in-out;

      animation-name: scrollButton;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
    }
  }

  @media screen and (min-width: 2560px) {

  }

  @media screen and (max-width: 1800px) {
    #socials {
      width: 3rem;
    }

    #landingHeader {

      #cursor {
        height: 5rem;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    #landingHeader {
      #cursor {
        height: 3.9rem;
      }
    }

    #scrollButton {
      width: 80%;
      left: unset;

      p {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 80%;

    #landingHeader {
      #cursor {
        display: none;
      }
    }

    #scrollButton {
    }
  }

  @media screen and (max-width: 565px) {
    #socials {
      right: 9rem;
      display: flex;
      z-index: 5;
      bottom: 2.5rem;

      .landingIcon {
        margin-left: 1rem;
        font-size: 2.5rem;
      }
    }
  }


}


// PROJECTS
#projects {
  position: relative;
  // background-color: #000000;
  // background-image: linear-gradient(0deg, #000000 0%, #080808 74%);padding: 6rem 0;
  background: #000000;
  color: white;
  height: auto;
  width: 100%;
  padding: 8% 0;
  overflow-x: hidden;

  .project__details {
    display: grid;
    grid-template-rows: auto auto 40%;
    grid-template-columns: 4fr 4fr 5fr;
    grid-template-areas:
      ". .     title"
      "img img title"
      "img img .";
    max-width: 120rem;
    margin: 5rem auto;
    padding: 5vh 0;

    &::after {
      content: "";
      grid-column: 2 / -1;
      grid-row: 1 / 3;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: #0f1111;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      padding: 1rem;
    }

    .project__thumb {
      position: relative;
      z-index: 2;
      grid-area: img;
      min-height: 100%;
      max-width: 100%;
      border-radius: 5px 5px 0 0;
      background: rgba(0, 0, 0, 0.596);
      background-size: cover;
      image-rendering: -webkit-optimize-contrast;
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left
            bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
      transition: transform 0.15s linear;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .project__specs {
    z-index: 2;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2rem 0 2rem 6rem;
    border-radius: 5px;
    grid-area: title;
    // box-shadow: 0 0px 25px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .project__title {
      grid-area: title;
      width: fit-content;
      color: #e0e0e0;

    }

    .project__desc {
      grid-area: content;
      width: 90%;
      margin: 1rem 0 0 0;
      padding: 0.5rem 0 1rem 0;

      align-self: center;
      color: #ADADAD;
      border-bottom: 1px solid gray;
    }

    h2 {
      width: 20%;
      grid-area: content;
      margin: 4rem 0 0.5rem 0;
      color: #e0e0e0;
    }

    .project__tools {
      list-style: none;
      width: 50%;
      grid-area: content;
      margin: 0 0 4rem 0;
      padding: 0.5rem 0;

      .project__skill {
        position: relative;
        color: #CFB53B;
      }
    }

    a {
      margin: 1rem 1rem 0 0;
      grid-area: button;
      text-decoration: none;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .project__buttons {
    align-self: flex-end;
    grid-area: btn;

    .btn__wp {
      display: inline-block;
      margin-right: 2rem;
    }
  }


  @media screen and (max-width: 1800px) {
    .project__details {
      max-width: 100rem;
    }

    .project__specs {
      h2 {
        margin: 3rem 0 0.5rem 0;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    .project__details {
      max-width: 90%;
      display: flex;
      flex-direction: column;
      background-color: #0f1111;
      border-radius: 5px;

      &:after {
        display: none;
      }

      .project__thumb {
        width: 95%;
        margin: 0 auto;
        -webkit-box-reflect: unset;
        margin: 0 auto 1rem auto;
      }
    }

    .project__specs {
      h2 {
        margin: 2rem 0 0.5rem 0;
      }

      padding: 1rem;
    }



  }
}

.btn__icon {
  margin-right: 1rem;
}


// About
#aboutSection {
  position: relative;
  background: rgb(5, 5, 5);
  width: 100%;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 4fr 3fr 2fr;

  .aboutDesc {
    color: #ADADAD;
  }

  .aboutTitle {
    margin: 0 0 1rem 0;
    color: #e0e0e0;

    &::before {
      position: relative;
      content: '';
      display: block;
      top: -1rem;
      left: 0;
      height: 0.5rem;
      width: 10%;
      background: #3f1f8b;
    }
  }

  #aboutLeft {
    width: 70%;
  }

  #aboutMiddle {

    ul li {
      position: relative;
      display: inline-block;
      padding: 0.5rem 1rem 0 0;
      color: #CFB53B;
    }
  }

  #aboutRight {
    width: 80%;
    height: 80%;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: 1rem 0 0 4rem;
    }
  }

  @media screen and (max-width: 1800px) {
    display: block;
    text-align: center;

    .aboutTitle {
      &::before {
        left: calc(50% - 5%);
      }
    }

    #aboutLeft {
      width: 100%;
      margin: 5rem auto;
    }

    #aboutRight {
      margin: 0 auto;

      img {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1440px) {

  }

}



// About Page
#aboutPage {
  position: relative;
  height: 100vh;
  width: 100%;
  color: white;
  padding: 8% 10%;
  background-color: #121212;

  .bg {
    z-index: 1;
  }

  #aboutTop {
    position: inherit;
    z-index: 2;
    padding: 5% 0 5% 0;
    margin: 0 0 5% 0;
    border-bottom: 0.5px solid gray;

    #aboutMain {
      width: 50%;
      padding: 2rem 0;
    }

    #aboutSecondary {
      width: 50%;
      color: #ADADAD;
    }
  }

  #aboutMid {
    position: inherit;
    width: 100%;
    z-index: 2;
    display: flex;
    padding: 2rem 0;

    .about__info {
        width: 80%;
        margin: 0 2% 0 0;
        padding: 2rem 1rem;
        border-radius: 5px;
        color: #ADADAD;

        .info__title {
          color: #e0e0e0;

          &::before {
            position: relative;
            content: '';
            display: block;
            top: -1rem;
            left: 0;
            height: 0.5rem;
            width: 5%;
            background: #3f1f8bc2;
          }
        }

        .info__desc {
          width: 80%;
        }
    }
  }

  @media screen and (max-width: 1600px) {
    #aboutMid {
      display: block;

      .about__info {
        margin: 0 0 6rem 0;
        padding: 0;
      }

    }
  }

}

// Footer
#footer {
  display: flex;
  text-align: left;
  flex-flow: row wrap;
  width: 100%;
  padding: 4vh 0 4vh 0;
  background-color: #000000;


  #footerLeft {
    color: #ADADAD;
    flex: 0 1 30%;
    width: 100%;
    margin: 0 2rem 0 auto;
    text-align: right;
  }

  #footerForm {
    flex: 0 1 30%;
    color: white;
    width: 50%;
    margin: 0 auto 0 2rem;

    #formRow {
      display: flex;
      justify-content: left;
      margin: 0 auto;
      color: white;

      input[type="text"],
      input[type="email"],
      select,
      textarea {
        flex: 0 1 60%;
        padding: 14px 4px 8px 4px;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.356);
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        resize: vertical;
      }

      input[type="text"]::placeholder,
      input[type="email"]::placeholder,
      textarea::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }

      label {
        padding: 12px 0 2px 0;
        display: inline-block;
        flex: 0 1 20%;
      }
    }

    input[type="submit"] {
      margin: 2rem 0 0 0;
      width: 12rem;
      flex: 0 1 60%;
      cursor: pointer;
    }

    select {
      background: white;
      outline: none;
      border: none;
      margin: 2rem 0 1rem 0;
      padding: 0.5rem 1rem;
      font-weight: 600;

      option[value="subject"] {
        user-select: none;
      }
    }
  }

  .background {
    position: absolute;
    background-color: #000000;
    margin-top: auto;
  }

  h1 {
    display: block;
    margin: 0 0 0 auto;
    width: 70%;
    color: rgba(207, 180, 59, 0.719);
  }

  #footerSub {
    width: 70%;
    margin: 2rem 0 0 auto;
  }

  @media screen and (max-width: 1800px) {
    
  }

  @media screen and (max-width: 1440px) {
      
  }

  @media screen and (max-width: 1024px) {
    justify-content: center;
    width: 90%;
    margin: 0 auto;

    #footerLeft {
      text-align: left;
      margin: 2rem auto;

      h1 {
        width: auto;
        margin: 0 auto 1rem 0;
      }
    }

    #footerSub {
      margin: 1rem 0;
    }
  }

  @media screen and (max-width: 565px) {
    flex-direction: column;
    justify-content: center;
    width: 90%;

    #footerLeft {
      text-align: center;
    }

    #footerSub {
      text-align: center;
      margin: 0 auto;
    }

    #footerForm {
      margin: 0 auto;
      width: 80%;

      #formRow input[type="text"],
      #formRow input[type="email"], 
      #formRow textarea
      {
        flex: 0 1 100%;
      }
    }
  }
}
