:root {
  --main-bg: #171717;
  --secondary: #595959;
  --nav-bg: #1f1f1f;
}

#root {
  width: 100%;
  height: 100vh;
  color: white;
  background-color: rgb(7, 7, 7);
}

.btn__md {
  position: relative;
  padding: 1rem 1.8rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid #3f1f8b;
  transition: all 0.1s ease-in-out;

  &:hover {
    transition: all 0.1s linear;
    background-color: #3f1f8b;
  }
}

.btn__wp {
  outline: none;
  width: 17rem;
  padding: 1.5rem;
  margin: 1rem 1rem 1rem 0;
  text-align: center;
  border: none;
  outline: none;
  background-color:  #3f1f8b;
  height: 5rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.App {
  background: url(../assets/images/astronomybg.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  // background: linear-gradient(170deg, #030303,#070707);
}

// NAVBAR
#nav {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  height: 12%;
  width: 100%;
  transition: top 0.2s linear, background 0.2s ease-in-out;

  .desktopNav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;

    li {
      list-style: none;
      align-self: center;

      a {
        position: relative;
        text-decoration: none;
        color: white;
      }

      a#resumeBtn:hover {
        color: white;
      }

      @media screen and (min-width: 1300px) {
        a:not(#resumeBtn):hover {
          transition: all 0.1s linear;
          color: #a3a3a3;
        }

        a:not(#resumeBtn)::after {
          content: "";
          position: absolute;
          display: block;
          width: 0;
          height: 1.5px;
          margin-top: 0;
          right: 0;
          background: #fff;
          transition: width 0.2s ease;
        }

        a:not(#resumeBtn):hover::after {
          width: 100%;
          left: 0;
        }
      }

      a:not(first-of-type) {
        margin-left: 3rem;
      }
    }

    li:first-of-type {
      margin-right: auto;
    }
  }

  .mobileNav {
    display: none;
    position: relative;
  }

  @media screen and (max-width: 1350px) {
    .desktopNav {
      display: none;
    }

    .mobileNav {
      position: relative;
      width: 100%;
      display: unset;

      #hamburger {
        position: fixed;
        width: 35px;
        right: 2rem;
        top: 5%;
        z-index: 3;
        cursor: pointer;

        span {
          background: white;
          position: relative;
          right: 0;
          top: 0;
          height: 2px;
          width: 100%;
          display: block;
          cursor: none;
        }

        span:not(:first-of-type) {
          margin: 1rem 0 0 0;
        }

      }

      #navList {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        background: #1d1d1d;
        display: block;
        z-index: 2;
        padding: 0 2rem;

        li {
          border-bottom: 1px solid grey;
          list-style-type: none;
        }

        li a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  background: #000000d3;
  z-index: 1;
}

// LANDING PAGE
#landingPage {
  display: flex;
  align-content: flex-start;
  padding: 32vh 0 0 0;
  flex-flow: row wrap;
  width: 40%;
  height: 90vh;
  margin: 0 10% 12vh 10%;


  #catchPhrase {
    color: #bebebe;
    flex: 0 0 100%;
    z-index: 2;
  }

  #landingContact {
    z-index: 2;

    &::before {
      content: '';
      position: relative;
      display: block;
      border-top: 4px solid white;
      top: -3.5rem;
      width: 160%;
    }
  }

  #landingHeader {
    flex: 0 0 100%;
    line-height: 90%;
    min-height: 25vh;
    z-index: 2;
    color: #ffffff;
    font-weight: 800;

    #cursor {
      border-right: 1rem solid rgb(218, 218, 218);
      animation: cursorBlink 0.7s steps(1) infinite;
      display: inline-block;
      margin-left: 1.5rem;
      height: 6rem;
    }

    @keyframes cursorBlink {
      50% {
        border-color: transparent;
      }
    }
  }

  #landingSub {
    display: block;
    flex: 0 0 100%;
    margin: 0.5rem 0;
    z-index: 2;
  }

  #landingRight {
    width: 30%;
    margin-left: auto;
    z-index: 2;
  }

  #socials {
    position: fixed;
    width: 4rem;
    right: 4rem;
    bottom: 4rem;
    text-align: center;
    z-index: 99;
    z-index: 2;

    .landingIcon {
      cursor: pointer;
      margin-top: 1.2rem;
      transition: 0.1s ease-in-out;
      color: white;
    }

    .landingIcon:hover {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
      transition: 0.1s ease-in-out;
    }
  }

  #landingLocation {
    position: absolute;
    left: 10rem;
    bottom: 4rem;
    font-weight: 600;
    z-index: 2;
  }

  #landingLocation::before {
    content: "";
    display: block;
    width: 4rem;
    border-bottom: 0.3rem solid white;
    position: relative;
    left: -5rem;
    bottom: -1.1rem;
    z-index: 2;
  }

  #scrollButton {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    z-index: 2;

    p {
      padding-top: 6rem;
      cursor: default;
    }

    p div {
      position: absolute;
      top: 0;
      left: 50%;
      width: 3rem;
      height: 5rem;
      margin-left: -15px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50px;
      box-sizing: border-box;
    }

    @keyframes scrollButton {
      0% {
        top: 1.2rem;
      }
      65% {
        top: 2.2rem;
      }
      100% {
        top: 1.2rem;
      }
    }

    p div::before {
      position: absolute;
      top: 1.2rem;
      left: 50%;
      content: "";
      width: 6px;
      height: 6px;
      margin-left: -3px;
      background-color: rgb(255, 255, 255);
      border-radius: 100%;
      box-sizing: border-box;
      transition: top 0.2s ease-in-out;

      animation-name: scrollButton;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
    }
  }

  @media screen and (min-width: 2560px) {

  }
  
  @media screen and (max-width: 1800px) {
    #socials {
      width: 3rem;
    }

    #landingHeader {

      #cursor {
        height: 5rem;
      }
    }
  }
  
  @media screen and (max-width: 1440px) {
    #landingHeader {

      #cursor {
        height: 3.9rem;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
  
  }
}


// PROJECTS
#projects {
  position: relative;
  // background-color: #000000;
  // background-image: linear-gradient(0deg, #000000 0%, #080808 74%);padding: 6rem 0;
  background: #080808;
  color: white;
  height: auto;
  width: 100%;
  padding: 8vh 0;

  .project__details {
    display: grid;
    grid-template-rows: auto auto 40%;
    grid-template-columns: 4fr 4fr 5fr;
    grid-template-areas:
      ". .     title"
      "img img title"
      "img img .";
    max-width: 120rem;
    margin: 0 auto;
    padding: 5vh 0;

    &::after {
      content: "";
      grid-column: 2 / -1;
      grid-row: 1 / 3;
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: #121212;
      box-shadow: 0px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      padding: 1rem;
    }

    .project__thumb {
      position: relative;
      z-index: 2;
      grid-area: img;
      min-height: 100%;
      max-width: 100%;
      border-radius: 5px 5px 0 0;
      background: rgba(0, 0, 0, 0.596);
      background-size: cover;
      image-rendering: -webkit-optimize-contrast;
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left
            bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
      transition: transform 0.15s linear;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .project__specs {
    z-index: 2;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2rem 0 2rem 6rem;
    border-radius: 5px;
    grid-area: title;
    // box-shadow: 0 0px 25px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .project__title {
      grid-area: title;
      line-height: 4.5rem;
      width: fit-content;

    }

    .project__desc {
      grid-area: content;
      width: 90%;
      height: 9rem;
      margin: 1rem 0 0 0;
      padding: 0.5rem 0;
      line-height: 2.7rem;
      align-self: center;
      color: rgb(226, 226, 226);
      border-bottom: 1px solid gray;
    }

    h2 {
      width: 20%;
      margin: 2rem 0 0 0;
      grid-area: content;
      margin: 4rem 0 0.5rem 0;
    }

    .project__tools {
      list-style: none;
      width: 50%;
      grid-area: content;
      margin: 0 0 4rem 0;
      padding: 0.5rem 0;

      .project__skill {
        position: relative;
      }
    }

    a {
      margin: 1rem 1rem 0 0;
      grid-area: button;
      text-decoration: none;
    }
  }

  .project__buttons {
    align-self: flex-end;
    grid-area: btn;

    .btn__wp {
      display: inline-block;
      margin-right: 2rem;
    }
  }

}

.btn__icon {
  margin-right: 1rem;
}


// About
#aboutSection {
  position: relative;
  background: rgb(5, 5, 5);
  width: 100%;
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 4fr 3fr 2fr;

  .aboutDesc {
    color: #e2e2e2;
  }

  .aboutTitle {
    margin: 0 0 1rem 0;
    &::before {
      position: relative;
      content: '';
      display: block;
      top: -1rem;
      left: 0;
      height: 0.5rem;
      width: 10%;
      background: #3f1f8bc2;
    }
  }

  #aboutLeft {
    width: 70%;
  }

  #aboutMiddle {

    ul li {
      position: relative;
      display: inline-block;
      padding-right: 1rem;
    }
  }

  #aboutRight {
    width: 80%;
    height: 80%;

    img {
      max-width: 100%;
      max-height: 100%;
      margin: 1rem 0 0 4rem;
    }
  }


}

// About Page
#aboutPage {
  position: relative;
  height: 100vh;
  width: 100%;
  color: white;
  padding: 0 10%;
  background-color: #121212;

  height: 100vh;

  .bg {
    z-index: 1;
  }

  #aboutTop {
    position: inherit;
    z-index: 2;
    padding: 5% 0 5% 0;
    margin: 0 0 5% 0;
    border-bottom: 0.5px solid gray;

    #aboutMain {
      width: 50%;
      padding: 2rem 0;
    }

    #aboutSecondary {
      width: 50%;
    }
  }

  #aboutMid {
    position: inherit;
    width: 100%;
    z-index: 2;
    display: flex;
    padding: 2rem 0;

    .about__info {
        width: 80%;
        margin: 0 2% 0 0;
        padding: 2rem 1rem;
        border-radius: 5px;

        .info__title {
          &::before {
            position: relative;
            content: '';
            display: block;
            top: -1rem;
            left: 0;
            height: 0.5rem;
            width: 5%;
            background: #3f1f8bc2;
          }
        }

        .info__desc {
          width: 80%;
        }
    }

}
}

// Footer
#footer {
  display: flex;
  text-align: left;
  flex-flow: row wrap;
  width: 100%;
  padding: 4vh 0 4vh 0;
  color: white;
  background-color: #000000;

  #footerBottom {
    flex: 0 0 100%;
    width: 100%;
    color: white;
    background-color: #080808;
  }

  #footerLeft {
    color: white;
    flex: 0 1 30%;
    width: 100%;
    margin: 0 2rem 0 auto;
    text-align: right;
  }

  #footerForm {
    flex: 0 1 30%;
    color: white;
    width: 50%;
    margin: 0 auto 0 2rem;

    #formRow {
      display: flex;
      justify-content: left;
      margin: 0 auto;
      color: white;

      input[type="text"],
      input[type="email"],
      select,
      textarea {
        flex: 0 1 60%;
        padding: 14px 4px 8px 4px;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid white;
        color: rgb(255, 255, 255);
        box-sizing: border-box;
        resize: vertical;
      }

      input[type="text"]::placeholder,
      input[type="email"]::placeholder,
      textarea::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }

      label {
        padding: 12px 0 2px 0;
        display: inline-block;
        flex: 0 1 20%;
      }
    }

    input[type="submit"] {
      margin: 2rem 0 0 0;
      width: 12rem;
      flex: 0 1 60%;
      cursor: pointer;
    }

    select {
      background: white;
      outline: none;
      border: none;
      margin: 2rem 0 1rem 0;
      padding: 0.5rem 1rem;
      font-weight: 600;

      option[value="subject"] {
        user-select: none;
      }
    }
  }

  .background {
    position: absolute;
    background-color: #000000;
    margin-top: auto;
  }

  h1 {
    display: block;
    margin: 0 0 0 auto;
    width: 70%;
    color: #fff;
  }

  #footerSub {
    width: 70%;
    margin: 2rem 0 0 auto;
    color: rgb(238, 238, 238);
  }
}
