@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
* {
    font-family: europa, -apple-system, BlinkMacSystemFont, sans-serif;
}

#nav {
    ul {
        li a {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    @media screen and (max-width: 2560px) {
        #logo img {
            height: 4.5rem;
        }

        ul {
            li a {
                font-size: 1.7rem;
            }
        }
    }

    @media screen and (max-width: 1800px) {
        #logo img {
            height: 4rem;
        }

        ul {
            li a {
                font-size: 1.5rem;
            }
        }
    }


    @media screen and (max-width: 1440px) {
        #logo img {
            height: 4rem;
        }
    }
}

#navList {

  .nListItem {
    font-size: 1.2rem;
  }
}

.btn__md {
    font-size: 1.5rem;
    font-weight: 500;
}

.btn__wp {
    font-size: 1.5rem;
    font-weight: 300;

    @media screen and (max-width: 1800px) {
        font-size: 1.4rem;
    }

    @media screen and (max-width: 1440px) {
        font-size: 1.2rem;
    }

}

.btn_bg {
    font-size: 1.5rem;
}

#landingPage {

    #catchPhrase {
        font-size: 2.5rem;
        font-weight: 500;
    }

    #landingDesc {
        font-size: 1.6rem;
        font-weight: 500;
        color: rgb(179, 176, 176);

    }

    #landingHeader {
        font-size: 8rem;
        font-weight: 900;
    }

    #landingLocation {
        font-size: 1.6rem;
    }

    #landingSub {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .btn_bg {
        font-size: 1.8rem;
        font-weight: 500;
    }

    #socials {
        font-size: 3.6rem;
    }

    #scrollButton {
        p {
            font-size: 1.6rem;
        }
    }

    @media screen and (min-width: 2560px) {

    }

    @media screen and (max-width: 1800px) {
        #catchPhrase {
            font-size: 2rem;
        }

        #landingHeader {
            font-size: 5.5rem;
        }

        #socials {
            font-size: 3rem;
        }

        #landingLocation {
            font-size: 1.4rem;
        }
    }

    @media screen and (max-width: 1440px) {
        #catchPhrase {
            font-size: 1.8rem;
        }

        #landingHeader {
            font-size: 4.5rem;
            font-weight: 800;
        }

        #socials {
            font-size: 2.7rem;
        }

        #landingLocation {
            font-weight: 500;
        }
    }

    @media screen and (max-width: 1024px) {
      #catchPhrase {
          font-size: 1.6rem;
      }

      #landingHeader {
          font-size: 3rem;
      }

      #socials {
          font-size: 2rem;
      }
    }

    @media screen and (max-width: 756px) {
        #landingHeader {
            font-size: 2.7rem;
        }
    }
}



#aboutPage {
    #aboutTop {
        #aboutMain {
            font-size: 5rem;
            font-weight: 800;
        }

        #aboutSecondary {
            font-size: 3rem;
            font-weight: 300;
            line-height: 3.5rem;
        }
    }

    #aboutMid {
        .about__info {
            .info__title {
                font-size: 3rem;
            }

            .info__desc {
                font-size: 1.8rem;
            }
        }
    }

    @media screen and (max-width: 1800px) {
        #aboutTop {
            #aboutMain {
                font-size: 4.5rem;
                font-weight: 800;
            }

            #aboutSecondary {
                font-size: 2.5rem;
                font-weight: 300;
                line-height: 3.5rem;
            }
        }

        #aboutMid {
            .about__info {
                .info__title {
                    font-size: 2.5rem;
                    font-weight: 800;
                }

                .info__desc {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }
        }
    }

    @media screen and (max-width: 1600px) {
        #aboutTop {
            #aboutMain {
                font-size: 4rem;
            }

            #aboutSecondary {
                font-size: 2.2rem;
                line-height: 3rem;
            }
        }

        #aboutMid {
            .about__info {
                .info__title {
                    font-size: 2.5rem;
                }

                .info__desc {
                    font-size: 1.6rem;
                    line-height: 2rem;
                }
            }
        }
    }

    @media screen and (max-width: 1440px) {
        #aboutTop {
            #aboutMain {
                font-size: 3rem;
                font-weight: 800;
            }

            #aboutSecondary {
                font-size: 2rem;
                font-weight: 300;
                line-height: 3rem;
            }
        }

        #aboutMid {
            .about__info {
                .info__title {
                    font-size: 2.2em;
                    font-weight: 800;
                }

                .info__desc {
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                }
            }
        }
    }

}

#footer {
    h1 {
        font-size: 4.5rem;
    }

    #footerSub {
        font-size: 1.6rem;
    }

    .footerContact {
        font-size: 2rem;
        font-weight: 900;
    }

    input[type=text], input[type=email] {
        font-size: 1.4rem;
    }

    label {
        font-size: 1.4rem;
        font-weight: 700;
    }

    @media screen and (max-width: 1800px) {
        h1 {
            font-size: 4rem;
        }
    }

    @media screen and (max-width: 1440px) {
        h1 {
            font-size: 3.7rem;
        }
    }

    @media screen and (max-width: 1024px) {
        h1 {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 565px) {
        h1 {
            font-size: 1.4rem;
        }

        #footerSub {
            font-size: 1.2rem;
        }
    
        input[type=text], input[type=email] {
            font-size: 1rem;
        }
    
        label {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

#projects {
    h2 {
        font-size: 2rem;
    }

    .project__title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 4.5rem;
    }

    .project__desc {
        font-size: 1.6rem;
        line-height: 2.7rem;
    }

    .project__skill {
        font-size: 1.6rem;
    }

    @media screen and (max-width: 1800px) {
        .project__title {
            font-size: 2.8rem;
            line-height: 3rem;
        }

        .project__desc {
            font-size: 1.4rem;
            line-height: 2rem;
        }

        .project__skill {
            font-size: 1.4rem;
            line-height: 1.9rem;
        }

        h2 {
            font-size: 1.9rem;
        }
    }

    @media screen and (max-width: 1440px) {
        .project__title {
            font-size: 2.6rem;
            line-height: 2rem;
        }

        .project__desc {
            font-size: 1.2rem;
            line-height: 1.7rem;
        }

        .project__skill {
            font-size: 1.2rem;
            line-height: 1.7rem;
        }

        h2 {
            font-size: 1.8rem;
        }
    }
}


#aboutSection {
    .aboutTitle {
        font-size: 2.8rem;
    }

    .aboutDesc {
        font-size: 1.8rem;
    }

    ul li {
        font-size: 1.7rem;
    }

    @media screen and (max-width: 1900px) {
        .aboutTitle {
            font-size: 2.5rem;
        }

        .aboutDesc {
            font-size: 1.8rem;
        }

        ul li {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 1700px) {
        .aboutTitle {
            font-size: 2.2rem;
        }

        .aboutDesc {
            font-size: 1.5rem;
            line-height: 1.9rem;
        }

        ul li {
            font-size: 1.4rem;
        }
    }

    @media screen and (max-width: 1440px) {
        .aboutTitle {
            font-size: 2rem;
        }

        .aboutDesc {
            font-size: 1.3rem;
            line-height: 1.7rem;
        }

        ul li {
            font-size: 1.3rem;
        }
    }
}
