@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,900&display=swap');

* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#nav {
    ul {
        #themeSwitch {
            font-size: 1.5rem;
            margin-left: 1.5rem;
            cursor: pointer;
        }

        li a {
            font-size: calc(1.2rem + (1.2 - 1) * ((100vw - 20rem) / 80));
        }
    }
}

.btn__md {
    font-size: 1.5rem;
    font-weight: 500;
}

.btn__wp {
    font-size: 1.5rem;
    font-weight: 500;
}

.btn_bg {
    font-size: 1.5rem;
}

#landingPage {

    #catchPhrase {
        font-size: 3rem;
        font-weight: 500;
    }

    #landingDesc {
        font-size: 1.6rem;
        font-weight: 500;
        color: rgb(179, 176, 176);

    }

    #landingHeader {
        font-size: calc(6rem + (6 / 4) * ((100vw - 20rem) / 80));
        font-weight: 900;
    }

    #landingLocation {
        font-size: 1.6rem;
    }

    #landingSub {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .btn_bg {
        font-size: 1.8rem;
        font-weight: 500;
    }

    #socials {
        font-size: 3.6rem;
    }

    #scrollButton {
        p {
            font-size: 1.6rem;
        }
    }
}

#footer {
    h1 {
        font-size: 5rem;
    }

    #footerSub {
        font-size: 1.6rem;
    }

    .footerContact {
        font-size: 2rem;
        font-weight: 900;
    }

    input[type=text], input[type=email] {
        font-size: 1.4rem;
    }
    
    label {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

#projects {
    h2 {
        font-size: calc(1.1rem + (1.1 - 0.8) * ((100vw - 20vw) / 80));;;
    }

// calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    .project__title {
        font-size: calc(1.6rem + (1.6 - 0.9) * ((100vw - 20rem) / 80));;
        font-weight: 900;
    }

    .project__desc {
        font-size: calc(1rem + (1 - 0.7) * ((100vw - 20rem) / 80));;
        font-weight: 300;
    }

    .project__skill {
        font-size: calc(1.2rem + (1.1 - 0.8) * ((100vw - 20vw) / 80));;
    }


}
