@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#nav {
    ul {
        #themeSwitch {
            font-size: 1.5rem;
            margin-left: 1.5rem;
            cursor: pointer;
        }

        li a {
            font-size: 1.6rem;
        }
    }
}

.btn_bg {
    font-size: 1.5rem;
}

#landingPage {

    #landingDesc {
        font-size: 1.6rem;
        font-weight: 500;
        color: rgb(179, 176, 176);

    }

    #landingHeader {
        font-size: 8rem;
        font-weight: 900;
    }

    #landingHeader::before {
        content: '';
        display: block;
        margin-left: 3px;
        border-bottom: 0.4rem solid white;
        width: 8rem;
    }

    #landingLocation {
        font-size: 1.6rem;
    }

    #landingSub {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .btn_bg {
        font-size: 1.8rem;
        font-weight: 600;
    }

    #socials {
        font-size: 3.6rem;
    }

    #scrollButton {
        p {
            font-size: 1.6rem;
        }
    }
}

#footer {
    text-align: center;
    color: black;

    h1 {
        font-size: 4rem;
    }

    #footerSub {
        font-size: 2.1rem;
    }

    .footerContact {
        font-size: 2rem;
        font-weight: 900;
    }

    
}

#projects {

    .project__title {
        font-size: 2.8rem;
    }

    .project__desc {
        font-size: 1.5rem;
    }
}
